.mapDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.overviewMapdDiv {
  position: fixed;
  z-index: 1;
  /* top: 200px; */
  width: 8.5%;
  height: 18%;
  border: 1.7px solid grey;
  overflow: hidden;
}

img {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 1%;
  width: 15%;
  height: "auto";
  margin-bottom: 1%;
}

/* Change font properties inside CalciteCard */
/* calcite-label {
  --calcite-color-text-1: #9ca3af;
  --calcite-font-size--1: 1.1rem;
   margin-top: 1vh; 
  margin-left: 15px;
  margin-top: 5px;
} 
*/

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a9a9a9;

  /*#032235*/
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a9a9a9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a9a9a9;
}
